.vscode
WA_1/WA1exercise1
WA_1/WA1exercise2
WA_2/WA2exercise1
WA_2/WA2exercise2
WA_3/WA3exercise1
WA_3/WA3exercise2
WA_4/WA4exercise1
WA_4/WA4exercise2
WA_5/WA5exercise1
WA_5/WA5exercise2
WA_6/WA6exercise1
WA_6/WA6exercise2
CPA/CPAexercise1
CPA/CPAexercise2
CPA/CPAexercise3

._*
.DS_Store